html, body {
  height: 100%; }

html {
  font-size: 18px; }

body {
  line-height: 1.5;
  color: #333;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  background: #333; }

.nav {
  position: absolute;
  width: 20%;
  color: white;
  height: 100%;
  font-family: Helvetica;
  text-align: center; }
  .nav a {
    color: white;
    padding: .5em  0;
    display: block;
    font-size: 1.1em;
    color: #bbb; }
    .nav a:hover {
      background: #555;
      color: white; }
  .nav strong {
    font-size: 1.5em;
    margin: .5em 0;
    display: block; }

.value {
  background: black;
  font-size: 1.5em;
  padding: .2em 0; }

.elements {
  border-bottom: 1px solid #555; }

a.hidden-elements {
  display: none;
  font-size: 2em;
  text-decoration: none; }

.medium #elements {
  display: none; }

.medium .hidden-elements {
  display: block; }

#elements {
  display: block;
  color: #bbb;
  margin: 20px 0; }

.next {
  display: block;
  color: white;
  padding: 0; }
  .next:hover {
    background: #555; }

.container {
  display: inline-block;
  width: 80%;
  margin-left: 20%;
  height: 100%;
  font-size: 1rem; }

table {
  font-family: arial, sans-serif;
  color: #00ffff;
  font-size: 64pt;
  width: 100%;
  height: 100%;
  border-collapse: collapse; }

tr {
  height: 12.5%; }

td {
  border: 3px solid #777;
  text-align: center;
  background-image: url("/img/panel.png");
  background-color: #777;
  background-size: cover;
  background-position: center center;
  width: 12.5%;
  font-size: 0; }
  td[data-lit] {
    background-color: white; }
  td:hover[data-shape=''] .shape {
    opacity: 1;
    display: inline-block; }

.shape {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-decoration: none;
  background: white;
  margin: 5px 3px;
  opacity: 0; }

.sphere {
  border-radius: 50%; }

.tetra {
  width: 0;
  height: 0;
  border-left: 14.3px solid transparent;
  border-right: 14.3px solid transparent;
  border-bottom: 22px solid white;
  background: none !important; }

#elements .shape {
  margin: .5em;
  opacity: 1;
  width: 44px;
  height: 44px; }

#elements .tetra {
  width: 0;
  height: 0;
  border-left: 28.6px solid transparent;
  border-right: 28.6px solid transparent;
  border-bottom: 44px solid white; }

.red .shape {
  background: red;
  border-bottom-color: red; }

.blue .shape {
  background: blue;
  border-bottom-color: blue; }

.yellow .shape {
  background: yellow;
  border-bottom-color: yellow; }

[data-shape] .shape {
  opacity: 0; }

[data-color=red][data-shape=sphere] .red .sphere,
[data-color=red][data-shape=tetra] .red .tetra,
[data-color=red][data-shape=cube] .red .cube,
[data-color=blue][data-shape=sphere] .blue .sphere,
[data-color=blue][data-shape=tetra] .blue .tetra,
[data-color=blue][data-shape=cube] .blue .cube,
[data-color=yellow][data-shape=sphere] .yellow .sphere,
[data-color=yellow][data-shape=tetra] .yellow .tetra,
[data-color=yellow][data-shape=cube] .yellow .cube {
  opacity: 1; }

.blink-success {
  animation: blinksuccess 500ms ease infinite; }

.blink-fail-1 {
  animation: blinkcyan 1000ms ease infinite; }

.blink-fail-2 {
  animation: blinkmagenta 2000ms ease infinite; }

.blink-fail-3 {
  animation: blinkyellow 3000ms ease infinite; }

.blink-fail-4 {
  animation: blinkred 4000ms ease infinite; }

/*===============
COLORS
===============*/
.b {
  background-color: blue; }

.r {
  background-color: red; }

.y {
  background-color: yellow; }

.g, .y.b {
  background-color: #01a611; }

.p, .r.b {
  background-color: #b300b3; }

.o, .r.y {
  background-color: orange; }

.m {
  background-color: magenta; }

.c {
  background-color: cyan; }

.w {
  background-color: white; }

.k {
  background-color: black; }

/*===============
NUMBERS
===============*/
.n0 {
  background-image: url("/img/numbers/n0.png");
  background-color: Fuchsia; }

.n1 {
  background-image: url("/img/numbers/n1.png");
  background-color: Fuchsia; }

.n2 {
  background-image: url("/img/numbers/n2.png");
  background-color: Fuchsia; }

.n3 {
  background-image: url("/img/numbers/n3.png");
  background-color: Fuchsia; }

.n4 {
  background-image: url("/img/numbers/n4.png");
  background-color: Fuchsia; }

.n5 {
  background-image: url("/img/numbers/n5.png");
  background-color: Fuchsia; }

.n6 {
  background-image: url("/img/numbers/n6.png");
  background-color: Fuchsia; }

.n7 {
  background-image: url("/img/numbers/n7.png");
  background-color: Fuchsia; }

.n8 {
  background-image: url("/img/numbers/n8.png");
  background-color: Fuchsia; }

.n9 {
  background-image: url("/img/numbers/n9.png");
  background-color: Fuchsia; }

.n10 {
  background-image: url("/img/numbers/n10.png");
  background-color: Fuchsia; }

.n11 {
  background-image: url("/img/numbers/n11.png");
  background-color: Fuchsia; }

.n12 {
  background-image: url("/img/numbers/n12.png");
  background-color: Fuchsia; }

.n16 {
  background-image: url("/img/numbers/n16.png");
  background-color: Fuchsia; }

.w8 {
  background-image: url("/img/numbers/n8.png");
  background-color: white; }

/*===============
SHADING
===============*/
.bg_shading_1 {
  background-image: url("/img/shading/1.jpg"); }

.bg_shading_2 {
  background-image: url("/img/shading/2.jpg"); }

.bg_shading_3 {
  background-image: url("/img/shading/3.jpg"); }

.bg_shading_4 {
  background-image: url("/img/shading/4.jpg"); }

.bg_shading_5 {
  background-image: url("/img/shading/5.jpg"); }

.bg_shading_6 {
  background-image: url("/img/shading/6.jpg"); }

/*===============
BLINKING
===============*/
@keyframes blinksuccess {
  50% {
    background-color: white; }
  100% {
    background-color: #777; } }

@keyframes blinkcyan {
  50% {
    background-color: cyan; }
  100% {
    background-color: #777; } }

@keyframes blinkmagenta {
  50% {
    background-color: magenta; }
  100% {
    background-color: #777; } }

@keyframes blinkred {
  50% {
    background-color: red; }
  100% {
    background-color: #777; } }

@keyframes blinkyellow {
  50% {
    background-color: yellow; }
  100% {
    background-color: #777; } }
