---
---

html, body {
    height: 100%;
}

html {
    font-size: 18px;
}

body {
    line-height: 1.5;
    color: #333;
    padding: 0;
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    color: #00ffff;
    font-size: 64pt;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td, th {
    border: 3px solid #777;
    text-align: center;
    background-image: url("/img/panel.png");
    background-color: #777;
    background-size: cover;
    background-position: center center;
}

td {
    width: 12.5%;
}

html, body {
  height: 100%;
}

/*=============== BLINKING ===============*/

@mixin waitAnimate($options: ()) {
  $options: map-merge((
    animationName: waitAnimate,
    duration: 1,
    waitTime: 0,
    timingFunction: linear,
    iterationCount: infinite
  ), $options);

  $name: map-get($options, animationName);
  $kf: map-get($options, keyframes);
  $kfLength: length($kf);
  $duration: map-get($options, duration);
  $waitTime: map-get($options, waitTime);
  $timingFunction: map-get($options, timingFunction);
  $iterationCount: map-get($options, iterationCount);
  $counter: 1; // index of 'each'

  @keyframes #{$name} {
    @each $frame, $prop in $kf {
      #{$frame * $duration / ($duration + $waitTime)}% {
        @each $k, $v in $prop {
          #{$k}: #{$v}
        }
      }
      // if last in loop and waitTime is not 0, add the last frame as 100% (this is what creates the pause)
      @if $counter == $kfLength and $waitTime > 0 {
        100% {
          @each $k, $v in $prop {
            #{$k}: #{$v}
          }
        }
      }
      $counter: $counter+1;
    }
  }

  .#{$name} {
    animation: #{$name} #{$duration + $waitTime}s #{$timingFunction} #{$iterationCount};
  }
}

@include waitAnimate(
  (
    animationName: blink1,
    keyframes: (
      50: (
        background-color: cyan
      ),
      100: (
        background-color: #777
      )
    ),
    duration: .5,
    waitTime: 1,
    timingFunction: ease,
    iterationCount: infinite
  )
);

@include waitAnimate(
  (
    animationName: blink2,
    keyframes: (
      25: (
        background-color: cyan
      ),
      50: (
        background-color: #777
      ),
      75: (
        background-color: cyan
      ),
      100: (
        background-color: #777
      )
    ),
    duration: 1,
    waitTime: 1,
    timingFunction: ease,
    iterationCount: infinite
  )
);


@include waitAnimate(
  (
    animationName: blink3,
    keyframes: (
      16: (
        background-color: cyan
      ),
      32: (
        background-color: #777
      ),
      48: (
        background-color: cyan
      ),
      64: (
        background-color: #777
      ),
      80: (
        background-color: cyan
      ),
      96: (
        background-color: #777
      )
    ),
    duration: 1.5,
    waitTime: 1,
    timingFunction: ease,
    iterationCount: infinite
  )
);

@include waitAnimate(
  (
    animationName: blink4,
    keyframes: (
      12: (
        background-color: cyan
      ),
      25: (
        background-color: #777
      ),
      37: (
        background-color: cyan
      ),
      50: (
        background-color: #777
      ),
      62: (
        background-color: cyan
      ),
      75: (
        background-color: #777
      ),
      87: (
        background-color: cyan
      ),
      100: (
        background-color: #777
      )
    ),
    duration: 2,
    waitTime: 1,
    timingFunction: ease,
    iterationCount: infinite
  )
);

@include waitAnimate(
  (
    animationName: blink5,
    keyframes: (
      10: (
        background-color: cyan
      ),
      20: (
        background-color: #777
      ),
      30: (
        background-color: cyan
      ),
      40: (
        background-color: #777
      ),
      50: (
        background-color: cyan
      ),
      60: (
        background-color: #777
      ),
      70: (
        background-color: cyan
      ),
      80: (
        background-color: #777
      ),
      90: (
        background-color: cyan
      ),
      100: (
        background-color: #777
      )
    ),
    duration: 2.5,
    waitTime: 1,
    timingFunction: ease,
    iterationCount: infinite
  )
);

@include waitAnimate(
  (
    animationName: blink6,
    keyframes: (
      8: (
        background-color: cyan
      ),
      16: (
        background-color: #777
      ),
      24: (
        background-color: cyan
      ),
      32: (
        background-color: #777
      ),
      40: (
        background-color: cyan
      ),
      48: (
        background-color: #777
      ),
      56: (
        background-color: cyan
      ),
      64: (
        background-color: #777
      ),
      72: (
        background-color: cyan
      ),
      80: (
        background-color: #777
      ),
      88: (
        background-color: cyan
      ),
      96: (
        background-color: #777
      )
    ),
    duration: 3,
    waitTime: 1,
    timingFunction: ease,
    iterationCount: infinite
  )
);

/*===============CLASSES FOR COLORS===============*/

.x {}
.b { background-image: blue; }
.r { background-image: red; }
.g { background-image: green; }
.y { background-image: yellow; }
.m { background-image: magenta; }
.c { background-color: cyan; }
.w { background-image: white; }
.k { background-image: black; }


/*===============CLASSES FOR NUMBERS===============*/

.n0 {
background-image: url("/img/numbers/0.jpg");
}

.n1 {
background-image: url("/img/numbers/1.jpg");
}

.n2 {
background-image: url("/img/numbers/2.jpg");
}

.n3 {
background-image: url("/img/numbers/3.jpg");
}

.n4 {
background-image: url("/img/numbers/4.jpg");
}

.n5 {
background-image: url("/img/numbers/5.jpg");
}

.n6 {
background-image: url("/img/numbers/6.jpg");
}

.n7 {
background-image: url("/img/numbers/7.jpg");
}

.n8 {
background-image: url("/img/numbers/8.jpg");
}

.n9 {
background-image: url("/img/numbers/9.jpg");
}

.n12 {
background-image: url("/img/numbers/12.jpg");
}

/*===============CLASSES FOR SHADING===============*/

.bg_shading_1 {
background-image: url("/img/shading/1.jpg");
}

.bg_shading_2 {
background-image: url("/img/shading/2.jpg");
}

.bg_shading_3 {
background-image: url("/img/shading/3.jpg");
}

.bg_shading_4 {
background-image: url("/img/shading/4.jpg");
}

.bg_shading_5 {
background-image: url("/img/shading/5.jpg");
}

.bg_shading_6 {
background-image: url("/img/shading/6.jpg");
}

/*===============CLASSES FOR BLINKING===============*/

@keyframes oneblink {
  5% {
    background-color: cyan; }
  10% {
    background-color: #777; }
}

.s0 { animation: oneblink 4s 0s ease infinite; }
.s1 { animation: oneblink 4s .25s ease infinite; }
.s2 { animation: oneblink 4s .5s ease infinite; }
.s3 { animation: oneblink 4s .75s ease infinite; }
.s4 { animation: oneblink 4s 1s ease infinite; }
.s5 { animation: oneblink 4s 1.25s ease infinite; }
.s6 { animation: oneblink 4s 1.5s ease infinite; }
.s7 { animation: oneblink 4s 1.75s ease infinite; }
.s8 { animation: oneblink 4s 2s ease infinite; }
.s9 { animation: oneblink 4s 2.25s ease infinite; }
.s10 { animation: oneblink 4s 2.5s ease infinite; }
.s11 { animation: oneblink 4s 2.75s ease infinite; }
.s12 { animation: oneblink 4s 3s ease infinite; }
.s13 { animation: oneblink 4s 3.25s ease infinite; }
.s14 { animation: oneblink 4s 3.5s ease infinite; }
.s15 { animation: oneblink 4s 3.75s ease infinite; }
.s16 { animation: oneblink 4s 4s ease infinite; }
