---
layout: default
---

<div class="home">

  <ul class="post-list">
  </ul>


    <h2>Puzzles</h2>
    <ul class="post-list">
      <li>
        <a class="page-link" href="red/1/index.html">1</a>
      </li>

      <li>
        <a class="page-link" href="red/3/index.html">2</a>
      </li>

      <li>
        <a class="page-link" href="yellow/1/index.html">3</a>
      </li>

      <li>
        <a class="page-link" href="red/2/index.html">4</a>
      </li>

      <li>
        <a class="page-link" href="blue/4/index.html">5</a>
      </li>

      <li>
        <a class="page-link" href="red/3/index.html">6</a>
      </li>

      <li>
        <a class="page-link" href="blue/5/index.html">7</a>
      </li>

      <li>
        <a class="page-link" href="yellow/3/index.html">8</a>
      </li>

      <li>
        <a class="page-link" href="blue/6/index.html">9</a>
      </li>

      <li>
        <a class="page-link" href="red/4/index.html">10</a>
      </li>

      <li>
        <a class="page-link" href="yellow/5/index.html">11</a>
      </li>

      <li>
        <a class="page-link" href="blue/7/index.html">12</a>
      </li>

      <li>
        <a class="page-link" href="red/5/index.html">13</a>
      </li>

      <li>
        <a class="page-link" href="yellow/6/index.html">14</a>
      </li>

      <li>
        <a class="page-link" href="yellow/8/index.html">15</a>
      </li>

      <li>
        <a class="page-link" href="blue/9/index.html">16</a>
      </li>

      <li>
        <a class="page-link" href="yellow/9/index.html">17</a>
      </li>

      <hr>

      <li>
        <a class="page-ling" href="red_yellow/1/index.html">18</a>
      </li>

      <li>
        <a class="page-ling" href="red_yellow/2/index.html">19</a>
      </li>

      <li>
        <a class="page-ling" href="blue_red/1/index.html">20</a>
      </li>

      <li>
        <a class="page-ling" href="yellow_blue/1/index.html">21</a>
      </li>

      <li>
        <a class="page-ling" href="blue_red/2/index.html">22</a>
      </li>

      <li>
        <a class="page-ling" href="red_yellow/3/index.html">23</a>
      </li>

      <li>
        <a class="page-ling" href="yellow_blue/2/index.html">24</a>
      </li>

      <li>
        <a class="page-ling" href="blue_red/3/index.html">25</a>
      </li>

      <li>
        <a class="page-ling" href="red_yellow/4/index.html">26</a>
      </li>

      <li>
        <a class="page-ling" href="blue_red/4/index.html">27</a>
      </li>

      <li>
        <a class="page-ling" href="yellow_blue/4/index.html">28</a>
      </li>

      <li>
        <a class="page-ling" href="blue_red/5/index.html">29</a>
      </li>

      <li>
        <a class="page-ling" href="red_yellow/5/index.html">30</a>
      </li>

      <hr>

      <li>
        <a class="page-ling" href="white/1/index.html">31</a>
      </li>

      <li>
        <a class="page-ling" href="white/2/index.html">32</a>
      </li>

      <li>
        <a class="page-ling" href="white/3/index.html">33</a>
      </li>

      <li>
        <a class="page-ling" href="white/4/index.html">34</a>
      </li>

      <li>
        <a class="page-ling" href="white/5/index.html">35</a>
      </li>

      <li>
        <a class="page-ling" href="white/6/index.html">36</a>
      </li>

    </ul>

</div>
