---
layout: default
---

<div class="home">

  <ul class="post-list">
  </ul>


    <h2>Primary</h2>
    <ul class="post-list">
      <li>  
        <a class="page-link" href="red/1/index.html">1</a>
      </li>

      <li>  
        <a class="page-link" href="red/3/index.html">2</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/1/index.html">3</a>
      </li>

      <li>  
        <a class="page-link" href="blue/1/index.html">4</a>
      </li>

      <li>  
        <a class="page-link" href="red/2/index.html">5</a>
      </li>

      <li>  
        <a class="page-link" href="blue/2/index.html">6</a>
      </li>

      <li>  
        <a class="page-link" href="blue/3/index.html">7</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/2/index.html">8</a>
      </li>

      <li>  
        <a class="page-link" href="blue/4/index.html">9</a>
      </li>

      <li>  
        <a class="page-link" href="red/3/index.html">10</a>
      </li>

      <li>  
        <a class="page-link" href="blue/5/index.html">11</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/3/index.html">12</a>
      </li>

      <li>  
        <a class="page-link" href="blue/6/index.html">13</a>
      </li>

      <li>  
        <a class="page-link" href="red/4/index.html">14</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/4/index.html">15</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/5/index.html">16</a>
      </li>

      <li>  
        <a class="page-link" href="blue/7/index.html">17</a>
      </li>

      <li>  
        <a class="page-link" href="red/5/index.html">18</a>
      </li>

      <li>  
        <a class="page-link" href="blue/8/index.html">19</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/6/index.html">20</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/7/index.html">21</a>
      </li>

      <li>  
        <a class="page-link" href="red/6/index.html">22</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/8/index.html">23</a>
      </li>

      <li>  
        <a class="page-link" href="blue/9/index.html">24</a>
      </li>

      <li>  
        <a class="page-link" href="yellow/9/index.html">25</a>
      </li>
    </ul>

</div>
