<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/css/puzzle.css">
<script src="//code.jquery.com/jquery-3.1.0.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script>
var toggleColor = '{{ layout.color }}';
</script>
<script src="/js/script.js"></script>
{{ content }}
</head>
<body>
<div class="nav">
    <a href="/" id="elements"></a>
    <a href="{{ page.next.url }}" id="next">>> &nbsp;</a>
</div>
<section class="container"></section>
</body>

</html>

