<!DOCTYPE html>
<html>
<head>
<title>{{ layout.puzzletype }} • {{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/css/puzzle.css">
<script src="//code.jquery.com/jquery-3.1.0.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script>
var toggleColor = '{{ layout.color }}';
var slug = '{{ page.title | slugify }}';
</script>
<script src="/js/script.js"></script>
{{ content }}
</head>
<body class="{{ layout.puzzletype }}">
<section class="nav">
{% if page.sidebar %}
    {{ page.sidebar }}
{% else %}
    <div class="msg-box">
        <strong>Value:</strong>
        <div class="value">{{ layout.value }}</div>
        <div class="newvalue">{{ layout.newvalue }}</div>
    </div>
    <div class="elements">
        <strong>Needed:</strong>
        <div id="elements"></div>
        <a class="hidden-elements" href="#"></a>
    </div>
{% endif %}
    <a class="refresh" href="#">Reset</a>
    <a class="home" href="/">Home</a>
    <a href="{{ page.next.url }}" class="next">Next &rarr;</a>
    <audio id="success" src="/mp3/done.mp3"></audio>
    <audio id="fail" src="/mp3/buzzer.m4a"></audio>
</section>
<section class="container-single"></section>

</body>

</html>

